.indicator {
  display: none;
}

.message {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.loader {
  width: 25px;
  height: 25px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  animation: loader-frames 0.75s infinite ease-in-out;
}

@keyframes loader-frames {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.logo {
  position: relative;
  margin: 50px 0 0 0;
  height: 270px;
  background-color: transparent;
  background-image: url(./img/logo.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 250px;
  transition: all 0.5s ease-in-out;
}

.logo.dimmed {
  opacity: 0.4;
}

.logo.collapsed {
  margin: 0;
  height: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(./img/logo.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100px;
  transition: all 0.2s ease-in-out;
}

.refresh {
  position: fixed;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  opacity: 0;
  background-image: url(./img/icon-reload.svg);
  background-repeat: no-repeat;
  background-size: 48px;
}

.logo.collapsed .refresh {
  position: fixed;
  opacity: 0.4;
  transition-delay: 2s;
  transition: all 0.2s ease-in-out;
}

.logotype {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  background-image: url(./img/logotype.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  opacity: 1;
  visibility: shown;
  transition: opacity 0.5s ease-in;
}

.logo.collapsed .logotype {
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s ease-out;
}

.controls {
  margin-top: 100px;
}

.controls div {
  margin: auto;
}

.control-brightness {
  padding: 24px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./img/icon-brightness.svg);
  background-repeat: repeat-x, no-repeat;
  background-position: center, 12px 12px;
}

.control-color {
  padding: 24px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(./img/icon-palette.svg);
  background-repeat: repeat-x, no-repeat;
  background-position: center, 12px 12px;
}

.control-party {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.control-party button {
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin: 16px 20px;
  padding-left: 20px;
  color: rgba(230, 34, 230, 1);
}

.control-party .selected {
  color: rgba(255, 255, 255, 0.9);
}

.control-party .selected .indicator {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(255, 255, 255, 0.9);
}

.label {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px 20px 140px;
}

.label h1 {
  display: inline;
  padding: 4px 24px;
  border-radius: 2.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.modes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35, 35, 35, 1);
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100px;
}

.mode {
  position: relative;
  height: 100px;
  flex: 1;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: top 20px center;
  background-color: transparent;
}

.mode.off {
  background-image: url(./img/icon-off.svg);
}

.mode.stargaze {
  background-image: url(./img/icon-stargaze.svg);
}

.mode.relax {
  background-image: url(./img/icon-relax.svg);
}

.mode.party {
  background-image: url(./img/icon-party.svg);
}

.mode.daze {
  background-image: url(./img/icon-daze.svg);
}

.mode.selected {
  opacity: 1;
  background-color: rgba(17, 17, 17, 1);
}

.mode.selected .indicator {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(230, 34, 230, 1);
}
